
@{
    var message1 = "Sử dụng biến";
    var message2 = "Sử dụng cấu trúc if else";
    var message3 = "Sử dụng cấu trúc Switch";
    string message4 = "";
    int age = 19;
    var today = DateTime.Now.DayOfWeek.ToString();

}
<h3>@message1</h3>
<hr/>
<h3>@message2</h3>
@{ if (age <= 18)
    {
                <h4>Bạn đang là học sinh tuổi teen</h4>
    }
    else if (age <= 22)
    {
                <h4>Bạn đang là sinh viên rất yêu đời</h4>
    }
    else if (age > 22)
    {
                <h4>Bạn đã và đang bắt đầu đi làm....</h4>
    }

        }
<hr/>
<h3>@message3</h3>
@{ 
    switch (today)
    {
        case "Monday":
            message4 = "Hôm nay là thứ hai đầu tuần";
            break;
        case "Tuesday":
            message4 = "Hôm nay là thứ ba ";
            break;
        case "Wednesday":
            message4 = "Hôm nay là thứ tư";
            break;
        case "Thurday":
            message4 = "Hôm nay là thứ năm";
            break;
        case "Friday":
            message4 = "Hôm nay là thứ sáu";
            break;
        case "Saturday":
            message4 = "Hôm nay là thứ bảy";
            break;
        case "Sunday":
            message4 = "Hôm nay là cuối tuần";
            break;
        default:
            message4 = "";
            break;
    }
    }

<h4>@message4</h4>

