
@{
    ViewBag.Title = "Interget";
}
<h2>Hiển thị sô nguyên tố từ 1 đến 100</h2>
@{

    for (int i = 2; i < 100; i++)
    {
        for (int j = 2; j < i; j++)
        {
            if (i % j == 0)
            {
                break;
            }
            else if (i == j + 1)
            {
                <p>@i</p>
                }
            }

        }
    }

